{% extends 'base.html' %}
{% load static %}
{% block body %}


<form action="{% url 'deleted_data' tasks_row.id %}" method="POST">{% csrf_token %}
<div class="card">
  <div class="card-header">
    Delete Task
  </div>
  <div class="card-body">
    <h5 class="card-title">Are you sure that you want to delete <span id="delete_part">{{tasks_row.task_name}}</span> ?</h5>
    <a href="{% url 'index' %}" class="btn btn-info">No, go back</a>
    <button type="submit" class="btn btn-danger">Yes, delete</button>
  </div>
</div>
</form>
{% endblock %}